main{
    direction: rtl;
}

section {
    display: none;
    border-top: 1px solid #ddd;
    direction: rtl;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 8px 8px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;

}
[type=checkbox]+label, [type=radio]+label{
    margin-left: .5px;
     margin-right: 1px;
}
label[for*='1'],label[for*='2'],label[for*='3'],label[for*='4']{
    width: 150px;
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}



.main-search-form select {
    width: 130px;
    position: absolute;
    top: 0px;
    left: 58px;
    margin-bottom: 0px;
    height: 60px;
    background-size: 11px 40px;
}

.main-search-form .button {
    font-size: 1.34rem;
    padding: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    margin-bottom: 0px;
}

.black-btn{
    background-color: #565656;
}
.main-search-form {
    margin-top: 0px;
}

.search-head:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border:rgba(80,117,249,0.69) 1px solid;

}

.user-icon, .cart-icon{
    font-size: 20px;
    line-height: 5px;
    margin-right: 5px;
}

.search-head {
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    font-size: 1.3rem;
}



@media screen and (max-width: 780px) {

    section {
        padding: 5px 0 0;
    }
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
    label[for*='1'],label[for*='2'],label[for*='3'],label[for*='4']{
        width: 60px;
    }

}


@media screen and (max-width: 1025px) {

    section {
        padding: 0px 0 0;
    }
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
    label[for*='1'],label[for*='2'],label[for*='3'],label[for*='4']{
        width: 130px;
    }

}
@media screen and (max-width: 426px) {
    .menu{
        display: none;
    }
    label {
        padding: 0px;
    }
    label[for*='1'],label[for*='2'],label[for*='3'],label[for*='4']{
        width: 90px;
    }

    .search-head {
        position: relative;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 40px;
        font-size: 13px;
    }

    .main-search-form select{
        height: 40px;
        left: 37px;
        font-size: 13px;
        background-size: 11px 25px;
    }
    .main-search-form .button{
        font-size: 18px;
        padding: 9px;
    }
}

@media screen and (max-width: 376px) {
    label {
        padding: 0px;
    }
    label[for*='1'],label[for*='2'],label[for*='3'],label[for*='4']{
        width: 69px;
    }

    .search-head {
        position: relative;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 38px;
        font-size: 11px;
    }

    .main-search-form select{
        height: 38px;
        left: 36px;
        width: 90px;
        font-size: 11px;
        background-size: 8px 24px;
    }
    .main-search-form .button{
        font-size: 17px;
        padding: 9px;
    }
}